body {
    margin: auto;
    height: 100vh;
    font-family: 'Open Sans', sans-serif;
    /* display: flex; */
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: green;
    top: 0;
}

div {
    margin-top: 20px;
    margin-bottom: 20px;
}

#incomeForm {
    display: flex;
    flex-direction: column;
    max-width: 25%;
}

#incomeForm label {
    font-weight: bold;
    font-size: 1.25em;
    color: green;
}

#expenseForm {
    display: flex;
    flex-direction: column;
    max-width: 25%;
}

#expenseForm label {
    font-weight: bold;
    font-size: 1.25em;
    color: red;
}

#bigBoy {
    margin-left: 10px;
}