body {
    margin: auto;
    height: 100vh;
    font-family: 'Open Sans', sans-serif;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: green;
    top: 0;
}



h2 form {
    display: flex;
    flex-direction: column;
}

h2 form input {
    max-width: 25%;
}


#bigBoy {
    margin-left: 10px;
}

.subHeader {
    font-size: 1.25em;
}

.type {
    font-size: 1em;
}

/* .subType {
    font-size: .75em;;
} */

#totalSummary {

}

#income {

}

#expenses {

}